<!DOCTYPE>
<html lang="esp">
<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <SCRIPT TYPE="text/javascript" src="../../js/Producto.js"></SCRIPT>

    <title>Insertar Nuevos Productos</title>
 </head>
 <body>
 </body>
 <div class="container">
 	<H4>lISTA DE PRODUCTOS</H4>
 	<br>
 	<a class="btn btn-primary" href="JavaScript:AgregarProducto();">Agregar Nuevo</a>
 </div class="container">
 <form clas="form-group">
 	<div class="table-responsive">
 		<table class="table table-striped">
 		<thead>
 			<tr>
 				<td>Nombre</td>
 				<td>Precio</td>
 				<td>Cantidad</td>
 				<td>Imagen</td>
 				<td></td>
 				<td></td>
 			</tr>
 		</thead>
 		<tbody id="cuerpo">
 		</tbody>
 	</table>
 	<input class="btn btn-info" type="submit" text="Guardar Todo">
 	</div>
 </form>
 <div>
 </div>
 </html>