<!DOCTYPE html>
<html lang="esp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/switch/bootstrap-switch.css">
    <title>Generar Venta</title>
</head>
<body>
    <br>
    <div class="container">
    <main id="content" role="main">
       <div class="col-sm-6 col-lg-4">
            <p>
              <input id="switch-size" type="checkbox" checked data-size="large">
            </p>
        </div>  
    </main>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>Producto</td>
                    <td>Cantidad</td>
                    <td>Precio c/u</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Agua Mineral</td>
                    <td>2</td>
                    <td>$ 12.00</td>
                    <td>$ 24.00</td>
                </tr>
                <tr></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total: </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
 <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/switch/highlight.js"></script>
    <script type="text/javascript" src="../../js/switch/bootstrap-switch.js"></script>
    <script type="text/javascript" src="../../js/switch/main.js"></script>

</html>