<article id="loginopera" class="login">
    <form>
        <table>
            <caption>Iniciar sesi&oacute;n</caption>
            <tr>
                <td>
                    <label>CODIGO OPERADOR</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="codigo" placeholder="Introduce tu codigo de operador" pattern=".{5,20}" required />
                </td>  
            </tr>
            <tr>
                <td id="mensaje"><div></div></td>
            </tr>
            <tr>
                <td>
                    <input id="session" type="checkbox" value="1"/>No cerrar sesi&oacute;n
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" id="access2">Acceder</button>
                </td>
            </tr>
        </table>
    </form>
</article>