<!--<div class="container">
    <div class="form-signin">
	<h2 >Porfavor Autentifiquese</h2>
        <label for="Usuario" class="sr-only">Usuario</label>
        <input class="form-control" type="text" id="Usuario" name="usuario" required placeholder="Usuario">
        <label for="Contra" class="sr-only" >Password</label>
        <input type="text" id="Contra" class="form-control" name="contra" required placeholder="Contraseña" >
        <a id="boton" class="btn btn-lg btn-primary btn-block">Acceder</a>
    </div>
</div>-->
<article id="login">
    <form>
        <table>
            <caption>Login</caption>
            <tr>
                <td>
                    <label>Usuario</label>
                </td>
                <td>
                    <input type="text" id="user" placeholder="Introduce tu usuario" pattern=".{4,20}" required />
                </td>  
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" id="password" placeholder="Introduce tu password" pattern=".{5,20}" required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" id="access">Acceder</button>
                </td>
            </tr>
        </table>
    </form>
</article>
